@import '.././utils/colors';

.footer {
  background-color: var(--bg-footer);
  padding: 2rem;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  p {
    color: #DEE2E6;
    margin: 0;
  }

  img {
    width: 1.5rem;
    height: auto;
  }
}


/* Estilos para teléfonos móviles (menos de 768px de ancho) */
@media screen and (max-width: 767px) {
  .footer {
    padding: 2em;
  }
}

/* Estilos para tabletas (768px a 1023px de ancho) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    padding: 2rem;
  
    img {
      width: 1.5rem;
    }
  }
}

/* Estilos para pantallas más grandes (1501px o más de ancho) */
@media screen and (min-width: 1501px) {
 
  .footer {
    padding: 3rem;
  
    p {
      font-size: 1.25rem;
    }

    img {
      width: 2rem;
    }
  }
}
