@import '.././utils/colors';

.container {
  max-width: 90% !important;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.bg-navbar-one {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  transition: 0.3s ease;
  background-color: transparent !important;
  padding: 2rem;
}

.bg-navbar-one.scrolling {
  border-bottom: 0;
  padding: 0.5rem 5rem;
  background-color: var(--bg-navbar) !important;
  box-shadow: 0 0.275rem 1.25rem rgba(11, 15, 25, 0.05),
    0 0.25rem 0.5625rem rgba(11, 15, 25, 0.03) !important;

    .icon-headerPortfolio {
      width: 4rem;
      height: auto;
      padding: 0px;
      margin: 0 auto;
    }
    
}

.navbar-main {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.navbar-expand-lg .navbar-collapse {
  gap: 2rem;
}

.navbar .navbar-nav .nav-link {
  color: white;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  transition: all 0.8s cubic-bezier(0.34, 1.45, 0.7, 1);
}

.navbar-brand {
  margin: 0;
}

.go-home-content {
  display: flex;
  align-items: center;
}

.icon-headerPortfolio {
  width: 5rem;
  height: auto;
  padding: 0px;
  margin: 0 auto;
}

.text-headerPortfolio {
  margin: 0;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  margin-left: 0.5rem;
  margin-right: 0.75rem;
}

.goHome a {
  text-decoration: none !important;
}

.goContact a {
  text-decoration: none !important;
}

.goAbout a {
  text-decoration: none !important;
}

.container-btn-navbar {
  display: flex;

  a {
    text-decoration: none !important;
  }
}

//  ---- Switch dark-mode/light-mode ----  //

.dark-label {
  color: rgba(255, 255, 255, 0.6) !important;
}

.light-label {
  color: rgba(255, 255, 255);
}

.switch-items {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.theme-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 0.5rem;

  img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 0.50rem;
    // transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;

    transition: fill 0.7s, background-color 0.7s, box-shadow 0.7s;

  }

  &:hover img {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  }
}


.form-switch,
#custom-switch {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.form-label {
  margin: 0;
  color: white;
}

.form-switch .form-check-input:checked {
  background-position: right center;
}

.form-switch .form-check-input {
  background-position: left center;
  width: 3em;
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-image: var(--bs-form-switch-bg);
  border-radius: 2em;
  transition: background-position 0.15s ease-in-out;
}

.form-check-input {
  background-color: var(--bg-switch) !important;
  border-color: var(--border-switch) !important;
  cursor: pointer;
}

.form-check-input:focus {
  background-color: var(--bg-switch) !important;
  border-color: var(--border-switch) !important;
  box-shadow: 0 0 0 0.25rem var(--shadow-switch);
  outline: 0;
}

// selector

.form-select {
  // font-weight: 500;
  color: var(--color-select);
  background-color: var(--bg-select);
  border: 1px solid var(--border-select);
  cursor: pointer;
  // border: none;

  background-image: url('/images/down.png');
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  }
}

// ----


// items de la barra de navegación
.itemsNav {
  margin-right: 0.5rem;
}

.navbar-expand-sm .offcanvas .offcanvas-body {
  align-items: center;
  justify-content: flex-end;
  
  a {
    color: white;
  }
}

@media screen and (max-width: 767px) {
  .bg-navbar-one {
    padding: 1rem;
  }

  .navbar-collapse .collapse {
    background: var(--bg-navbar) !important;
  }

  .bg-navbar-one.scrolling {
    padding: 1rem;
  }

  .navbar-main {
    padding: 0.5rem;
  }

  .navbar .navbar-nav .nav-link {
    font-size: 0.9rem;
  }

  .icon-headerPortfolio {
    width: 2rem;
  }

  .text-headerPortfolio {
    font-size: 1.5rem;
    margin-left: 0.25rem;
    margin-right: 0.5rem;
  }
}

/* Estilos para pantallas más grandes (1025px o más de ancho) */
@media screen and (min-width: 1501px) {
  .bg-navbar-one {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    transition: 0.3s ease;
    background-color: transparent !important;
    padding: 3rem;
  }

  .bg-navbar-one.scrolling {
    padding: 1.5rem 5rem;
  }

  .navbar-main {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .navbar .navbar-nav .nav-link {
    color: white;
    padding: 0.75rem;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0;
    transition: all 0.8s cubic-bezier(0.34, 1.45, 0.7, 1);
  }

  .icon-headerPortfolio {
    width: 3.25rem;
    height: auto;
    padding: 0px;
    margin: 0 auto;
  }

  .text-headerPortfolio {
    margin: 0;
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    margin-left: 0.75rem;
    margin-right: 0.8rem;
  }

  .dark-label {
    font-size: 1.25rem !important;
  }

  .light-label {
    font-size: 1.25rem !important;
  }

  .form-switch .form-check-input {
    width: 4rem;
    height: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-position: left center;
    border-radius: 2.5rem;
  }

  .goAbout {
    font-size: 1.25rem !important;
  }
}