@import '.././utils/colors';

.container {
  max-width: 90% !important;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.bg-navbar-one {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  transition: 0.3s ease;
  background-color: transparent !important;
  padding: 2rem;
}


.navbar-main {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.navbar-expand-lg .navbar-collapse {
  gap: 2rem;
}

.navbar .navbar-nav .nav-link {
  color: var(--text-primary);
  padding: 0.75rem;
  font-size: 1rem;
  letter-spacing: 0;
  transition: all 0.8s cubic-bezier(0.34, 1.45, 0.7, 1);

  &:hover {
    color: #E26FE3;
  }
}

.image-container {
  display: flex;
  align-items: center;

  .image {
    width: 5rem;
    height: auto;
    padding: 0;
    margin: 0 auto;
  }
}

// LOGO NUEVO 
// .image-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 5rem;
//   height: 5rem;

//   .logo-navbar {
//     background-image: var(--logo-navbar);
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     width: 100%;
//     height: 100%;
//   }
// }

// items (links) de la barra de navegación
.items-navbar {
  margin-right: 0.5rem;
}

//  ---- Switch dark-mode/light-mode ----  //
.theme-switch {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  img {
    padding: 0.35rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    transition: fill 0.5s, background-color 0.5s, box-shadow 0.5s;

    &:hover{
      background-color: var(--bg-switch);
      box-shadow: 0 0 10px var(--bg-switch);
    }
  }

  .icon-switch {
    padding: 0.50rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    transition: fill 0.5s, background-color 0.5s, box-shadow 0.5s;
  }

  &:hover .icon-switch {
    background-color: var(--bg-switch);
    box-shadow: 0 0 10px var(--bg-switch);
  }
}

// selector de idioma
.form-select {
  color: var(--text-primary);
  background-color: var(--bg-select);
  cursor: pointer;
  border: 1px solid var(--border-select);

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  }

  option {
    cursor: pointer;
    color: var(--text-primary);
    background-color: var(--bg-select-option);
  }
}

.navbar-expand-sm .offcanvas .offcanvas-body {
  align-items: center;
  justify-content: flex-end;
}

.offcanvas-header,
.offcanvas-body {
  a {
    color: var(--text-primary);
    text-decoration: none !important;
  }

  color: var(--color-icon-switch);
}

.nav-options {
  display: flex;
  gap: 0.25rem;
  flex-direction: row;
  align-items: center;
}

.bg-navbar-one.scrolling {
  border-bottom: 0;
  padding: 0.5rem 5rem;
  background: var(--bg-navbar) !important;
  box-shadow: var(--box-shadow-navbar);
  backdrop-filter: blur(1px);

  // logo medusa
  .image {
    width: 4rem;
    height: auto;
    padding: 0px;
    margin: 0 auto;
  }

  // logo nuevo
  .image-container {
    width: 4rem;
    height: 4rem;
  }

  .nav-item a {
    text-decoration: none !important;
    color: white !important;
  }
}


@media screen and (max-width: 767px) {
  .bg-navbar-one {
    padding: 1rem;
  }

  .bg-navbar-one.scrolling {
    padding: 0.5rem;

    .image {
      width: 3rem;
    }

    // logo nuevo
    .image-container {
      width: 3rem;
      height: 3rem;
    }
  }

  .offcanvas-header,
  .offcanvas-body {
    background: var(--bg-navbar);
  }

  .offcanvas-body {
    flex-direction: column;
    display: flex;
    gap: 1rem;

    .nav-options {
      display: flex;
      gap: 1rem;
      flex-direction: row;
      align-items: center;
    }
  }

  .navbar-main {
    padding: 0.5rem;
  }

  .navbar .navbar-nav .nav-link {
    font-size: 0.9rem;
  }

  .image-container .image {
    width: 4rem;
  }

  .navbar-toggler {
    border: none !important;
  }
}

/* Estilos para pantallas más grandes (1501px más de ancho) */
@media screen and (min-width: 1501px) {
  .bg-navbar-one {
    padding: 2.75rem;

    .image {
      width: 6rem;
    }
  }

  .bg-navbar-one.scrolling {
    padding: 0.5rem 5rem;

    .image {
      width: 5rem;
    }

    // logo nuevo
    .image-container {
      width: 5rem;
      height: 5rem;
    }
  }

  .navbar-main {
    padding: 2rem 6rem 2rem 6rem;
  }

  .navbar .navbar-nav .nav-link {
    padding: 1rem;
    font-size: 1.25rem;
  }

  //  ---- Switch dark-mode/light-mode ----  //
  .theme-switch {
    margin-left: 0.25rem;

    img {
      width: 3.5rem;
      height: 3.5rem;
    }

    &:hover img {
      background-color: rgba(255, 255, 255, 0.2);
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    }
  }

  // selector de idioma
  .form-select {
    padding: 0.375em 2.25em 0.375em 0.75em;
    font-size: 1.25rem;
    background-size: 1.25rem;
    background-position: right 1rem center;
    border-radius: 0.475rem;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    }
  }
}