.container-pages {
  padding-top: 17rem;
  padding-bottom: 13rem;
  padding-left: 7rem;
  padding-right: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15rem;
}

/* Estilos para pantallas pequeñas, como dispositivos móviles */
@media screen and (max-width: 767px) {
  .container-pages {
    padding: 7rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7rem;
  }
}

/* Estilos para pantallas más grandes (1024px o más de ancho) - puedes ajustar estos valores según tus necesidades */
@media screen and (min-width: 1501px) {
  .container-pages {
    padding-top: 19rem;
    padding-bottom: 15rem;
    padding-left: 9rem;
    padding-right: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 17rem;
  }

  .entries-pages {
    h1 {
      font-size: 3rem;
      color: $text-primary-dark;
    }

    p {
      font-size: 1.25rem;
      color: $text-secondary-dark;
      // max-width: 50%;
    }
  }
}
