@import '.././utils/colors';

.container-contactme {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {}

@media screen and (min-width: 1501px)  {}