@import '.././utils/colors';

.container-entry-home {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.25rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // background-image: url('/images/image.jpg');
  background-attachment: fixed;
}

.container-entry-home::before {
  content: '';
  background: var(--bg-translucent);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
  position: absolute;
  z-index: 0;
}

.container-entry-home > * {
  position: relative;
  z-index: 1;
}

.text-content-entry-home {
  text-align: center;
  align-items: center;

  h1 {
    font-size: 3rem;
    color: $text-primary-dark;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.25rem;
    font-weight: 500;
    color: $text-secondary-dark;
    margin-bottom: 0;
  }
}


