@import '.././utils/colors';

// BIENVENIDO A EVENTOX (ENTRADA DEL HOME)

.container-entry-home {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.25rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/images/wallpaper-eventox1.jpg');
  background-attachment: fixed;
}

.container-entry-home::before {
  content: '';
  background: var(--bg-translucent);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
  position: absolute;
  z-index: 0;
}

.container-entry-home > * {
  position: relative;
  z-index: 1;
}

.text-content-entry-home {
  text-align: center;
  align-items: center;

  h1 {
    font-size: 3rem;
    color: $text-primary-dark;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.25rem;
    font-weight: 500;
    color: $text-secondary-dark;
    margin-bottom: 0;
  }
}

.card-entry-home {
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: #fff;
  border-radius: 0.45rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.05);
  padding: 1rem !important;
}

.input-entry-home {
  padding: 0.6rem 0.75rem;
  color: var(--text-secondary);
  background-color: #fff;
  border: 0.0625rem solid #edf0f7;
  border-radius: 0.45rem;
}

.input-entry-home:focus {
  color: var(--text-secondary);
  background-color: #fff;
  border-color: #b7c3d2;
  outline: 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
}

.span-text-entry-home {
  padding: 0.6rem 0.75rem;
  color: #4e5079;
  text-align: center;
  background-color: #fff;
  border: 0.0625rem solid #edf0f7;
  border-radius: 0.45rem;
}

.scroll-down-arrow > svg path {
  fill: var(--color-icon-scroll-down);
  transition: fill 0.3s;
}

.scroll-down-arrow:hover > svg path {
  height: 5rem;
  fill: #0d1b48;
}

.scroll-down-arrow {
  cursor: pointer;
  padding: 0.55rem 0.95rem;
  border-radius: 0.45rem;
  background-color: transparent;
  border: 0.0625rem solid white;
  text-align: center;
  font-weight: 600;
  transition: all 0.3s;

  svg {
    width: 1rem;
    height: 1rem;
  }

  &:hover {
    background-color: white;
    border: 0.0625rem solid white;
    font-weight: 600;
    transform: translate(0, -2px);
    transition: all 0.3s;
  }
}

// Info Servicios

// GRID DE LOS SERVICIOS DEL HOME
.container-services {
  .all-services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 2rem;

    .info-service {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      // background: var(--bg-service);
      // border: 0.0625rem solid var(--border-event-card);
      // margin-bottom: 6rem;
      // border-radius: 0.45rem;
      // padding-left: 1.5rem;
      // padding-right: 1.5rem;
      // padding-top: 5rem;
      // padding-bottom: 5rem;
    }

    .service-imagePlan {
      margin-bottom: 2rem;
      width: 6rem;
      height: 6rem;
      background-color: var(--bg-icon-service);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .service-imagePlan > svg path {
      fill: var(--color-icon-service);
    }

    svg {
      width: 2.75rem;
      height: 2.75rem;
    }
  }
}

// Top Ciudades

.container-cities {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
}

.text-cities {
  margin-bottom: 2rem;
}

.gallery {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.card {
  width: 300px;
  height: 400px;
  border-radius: 8px;
  transition: 1000ms all;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  cursor: pointer;
  border: none !important;
  position: relative;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
}

.card:hover::before {
  opacity: 1;
}

.card img {
  height: 400px;
  object-fit: cover;
  border-radius: 4px;
  transition: transform 0.5s ease-in-out;
  transform-origin: center;
}

.card h5 {
  padding-top: 1rem;
  font-weight: 600;
  color: var(--text-name-city);
}

.card:hover img {
  cursor: pointer;
  transform: scale(1.2);
}

.card figcaption {
  background-color: var(--bg-name-city) !important;
}

.card:hover figcaption {
  font-size: 0.6rem;
  position: absolute;
  width: 300px;
  display: flex;
  align-items: flex-end;
  border: none;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  color: transparent;
  left: 0px;
  bottom: 0px;
  padding-left: 12px;
  padding-bottom: 10px;
  outline: none;
}

// Sección, "Tienes Dudas?"

.container-doubts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  padding-left: 7rem;
  padding-right: 7rem;
  background-color: var(--bg-doubts);
}

.container-doubts p {
  margin-bottom: 1rem !important;
}

.container-doubts h1 {
  margin-bottom: 1rem !important;
}

.container-button-doubts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-doubts {
  color: var(--text-button-doubts);
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding: 0.75rem 1.5rem;
  margin-top: 0.5rem;
  border: 0.0625rem solid var(--border-button-doubts);
  background-color: var(--bg-button-doubts);
  box-shadow: 0 0 24px rgba(27, 22, 66, 0.04),
    0 44px 74px rgba(27, 22, 66, 0.06);
  transition: all 0.3s;
}

.button-doubts:hover {
  color: var(--text-button-doubts-hover);
  background-color: var(--bg-button-doubts-hover);
  border: 0.0625rem solid var(--border-button-doubts-hover);
  transform: translate(0, -2px);
  transition: all 0.3s;
}

/* Estilos para teléfonos móviles (menos de 768px de ancho) */
@media screen and (max-width: 767px) {
  // Bienvenido a EventoX
  .container-entry-home {
    height: 100vh;
    background-attachment: scroll;
    background-size: cover;
  }

  .text-content-entry-home {
    padding-right: 2rem;
    padding-left: 2rem;

    h1 {
      margin-bottom: 1rem !important;
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .scroll-down-arrow {
    padding: 0.5rem 0.85rem;
  }

  .scroll-down-arrow > svg path {
    fill: var(--color-icon-scroll-down);
  }

  // Servicios

  // GRID DE LOS SERVICIOS DEL HOME
  .container-services {
    .all-services {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
      gap: 5rem;

      .info-service {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }

      .service-imagePlan {
        margin-bottom: 2rem;
        width: 6rem;
        height: 6rem;
        background-color: var(--bg-icon-service);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .service-imagePlan > svg path {
        fill: var(--color-icon-service);
      }

      svg {
        width: 2.75rem;
        height: 2.75rem;
      }
    }
  }
  // Top Ciudades

  .container-cities {
    justify-content: center;
  }

  .text-cities {
    margin-bottom: 1rem;
  }

  .gallery {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
  }

  .card {
    width: 100%;
    height: 450px;
  }

  .card img {
    width: 400px;
    height: 500px;
  }

  .card figcaption {
    width: 100% !important;
    font-size: 0.8rem;
    padding: 8px;
  }

  // Tienes dudas?

  .container-doubts {
    padding: 7rem 2rem;
  }

  .container-doubts {
    h1,
    p {
      margin-bottom: 1rem !important;
    }

    h1 {
      font-size: 1.75rem;
    }

    p {
      font-size: 0.95rem;
    }
  }

  .button-doubts {
    // padding: 0.45rem 1rem;
    margin-top: 0.25rem;
  }
}

/* Estilos para tabletas (768px a 1023px de ancho) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .scroll-down-arrow {
    padding: 0.6rem 1rem;
  }
}

/* Estilos para pantallas más grandes (1024px o más de ancho) */
@media screen and (min-width: 1501px) {
  // Bienvenido a EventoX
  .text-content-entry-home {
    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 1.67rem;
    }
  }

  .scroll-down-arrow {
    cursor: pointer;
    padding: 1rem 1.25rem;
    border-radius: 0.45rem;
    background-color: transparent;
    border: 0.0625rem solid white;
    text-align: center;
    font-weight: 600;
    transition: all 0.3s;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    &:hover {
      background-color: white;
      border: 0.0625rem solid white;
      font-weight: 600;
      transition: all 0.3s;
    }
  }

  // Info Servicios

  .container-services {
    .all-services {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
      gap: 2rem;

      // display: flex;
      // align-items: flex-start;

      .info-service {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        h4 {
          font-size: 1.75rem !important;
        }

        p {
          font-size: 1.25rem !important;
        }
      }

      .service-imagePlan {
        margin-bottom: 2rem;
        width: 8rem;
        height: 8rem;
        background-color: var(--bg-icon-service);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .service-imagePlan > svg path {
        fill: var(--color-icon-service);
      }

      svg {
        width: 3.75rem;
        height: 3.75rem;
      }
    }
  }

  // Top Ciudades

  .container-cities {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
  }

  .text-cities {
    margin-bottom: 2rem;

    h3 {
      font-size: 2.25rem !important;
    }
  }

  .gallery {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .card {
    width: 400px;
    height: 500px;
  }

  .card img {
    height: 500px;
  }

  .card h5 {
    padding-top: 1rem;
    font-weight: 600;
    color: var(--text-name-city);
  }

  .card:hover img {
    cursor: pointer;
    transform: scale(1.2);
  }

  // Tienes dudas?

  .container-doubts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 15rem;
    padding-bottom: 15rem;
    padding-left: 9rem;
    padding-right: 9rem;
    background-color: var(--bg-doubts);
  }

  .container-doubts p {
    font-size: 1.25rem !important;
  }

  .container-doubts h1 {
    font-size: 3rem !important;
  }

  .container-button-doubts {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-doubts {
    font-size: 1.25rem;
  }
}
