@import './utils/_colors';
@import './utils/_texts';
@import './components/_baselayout';
@import './components/_navbar';
@import './components/_footer';

@import './pages/_entry';
@import './pages/_aboutme';

html,
body {
  background: var(--bg-theme);
  font-family: 'Raleway', sans-serif;
}

.landing-page {
  padding: 7rem;
  gap: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media screen and (max-width: 767px) {
  .landing-page {
    padding-top: 0;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 5rem;
    gap: 3rem;
  }
}