@import './utils/_colors';
@import './utils/_texts';
@import './components/_baselayout';
@import './components/_navbar';
@import './components/_footer';

@import './pages/_entry';
@import './pages/_aboutme';

html,
body {
  background: var(--bg-theme);
  font-family: 'Raleway', sans-serif;
}

.landing-page {
  padding: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7rem;
}