// Colores de Bootstrap
$primary: #6237A0;
$secondary: #c33c54;
$info: #424767;
$success: #3b8754;
$warning: #fec134;
$danger: #dc4146;
$light: #edf0f7;
$dark: #04040e;

// Definición de colores en diferentes temas 🌝🌚 

// ---- Colores a nivel global

// $bg-theme-light: #ffffff; 
$bg-theme-light: #ffffff; // #513A8A; // linear-gradient(to right bottom, #0E2667, #E26FE3);
$bg-theme-dark: #10141E;

$titles-light: #FEBD34; //ECA12D
$titles-dark: #edf0f7;

$text-primary-light: #22222E;// #212A34;
$text-primary-dark: #edf0f7;

$text-secondary-light: #3C3B4D; // #838E95;
$text-secondary-dark: #DEE2E6;

// Barra de Navegación (NavBar)
$bg-navbar-light: #ffffffbb; // linear-gradient(to right, #383A7E, #9156B2);
$bg-navbar-dark: #090D16;// #04040e;

$item-active-nav-light: #FBA630;
$item-active-nav-dark: #E26FE3;

$box-shadow-navbar-light: 0 0.275rem 1.25rem rgba(11, 15, 25, 0.05),
0 0.25rem 0.5625rem rgba(11, 15, 25, 0.03) !important;

$box-shadow-navbar-dark: 0 0.275rem 1.25rem rgba(255, 255, 255, 0.01),
0 0.25rem 0.5625rem rgba(255, 255, 255, 0.02) !important;

$box-shadow-light: 0 0 15px rgba(255, 255, 255, 0.1);
$box-shadow-dark: 0 0 15px rgba(0, 0, 0, 0.1);

$filter-skill-dark: brightness(1.2);
$filter-skill-light: brightness(0.4);

// ---- 🌝 Switch 🌚
$bg-switch-light: rgba(0, 0, 0, 0.2); 
$bg-switch-dark: rgba(255, 255, 255, 0.2); // #090913;

$shadow-switch-light: rgba(
  13,
  110,
  253,
  0.25
); 
$shadow-switch-dark: rgba(
  9,
  9,
  13,
  0.25
); 

$color-icon-switch-light: blue;
$color-icon-switch-dark: #EDF0F7;

$border-switch-light: #3E4EB3; //#116dfa; 
$border-switch-dark: #090913; 

// ---- Botón "Ir arriba"
$bg-button-scroll-top-light: #0000003b; 
$bg-button-scroll-top-light-hover: #090D16;  

$bg-button-scroll-top-dark: #151822;
$bg-button-scroll-top-dark-hover: #3E4EB3; 

// ---- Pie de página
$bg-footer-light: #151822; 
$bg-footer-dark: #04040e; 

// FONDOS TRASLUCIDOS
$bg-image-start-light: url('/images/wallpapers/hive-bee.jpg');
$bg-image-start-dark: none; 
$bg-translucent-light: #F0F1F3;
$bg-translucent-dark: #10141E; //#0b0f19;

// Section About
$bg-sections-light: #F0F1F3; // #15182210; // #e6e7ed10;
$bg-sections-dark: #151822;

// Icons socials
$bg-icon-social-light: #00000010;
$bg-icon-social-dark: #42476720; // #151822;

// $color-icon-social-light: #424767;
$color-icon-social-light: #212A34;
$color-icon-social-dark: #e6e7ed;

// SKILLS
$bg-icon-skill-light: #15182210;
$bg-icon-skill-dark: #151822;

// Icons select
$bg-select-light: #F0F1F3;
$bg-select-dark: #151822;

$bg-select-option-light: #F0F1F3;
$bg-select-option-dark: #151822; 

$border-select-light: #0000003d;
$border-select-dark: #495057;

$color-select-light: #e6e7ed;
$color-select-dark: #e6e7ed;


//

// ---- FORMULARIOS

$bg-form-submit-light: #151822;
$bg-form-submit-light-hover: #04040e; //#FBA630;
$bg-form-submit-dark: #04040e;
$bg-form-submit-dark-hover: #983eb3;

$text-form-submit-light: #000;
$text-form-submit-dark: $text-primary-dark;

$text-placeholder-form-input-light: #0000003d;
$text-placeholder-form-input-dark: #495057;

$border-form-input-light: rgba(0, 0, 0, 0.123);
$border-form-input-dark: rgba(255, 255, 255, 0.05);
$border-form-input-light-focus: #00000065;
$border-form-input-dark-focus: rgba(255, 255, 255, 0.13);
$border-form-submit-light: #151822;
$border-form-submit-light-hover: #04040e;
$border-form-submit-dark: #090D16;
$border-form-submit-dark-hover: #04040e;


// Tema claro 🌝
:root,
[data-bs-theme='light'] {
  --bg-theme: #{$bg-theme-light};
  --primary: #{$primary};
  --secondary: #{$secondary};

  --titles: #{$titles-light};

  --text-primary: #{$text-primary-light};
  --text-secondary: #{$text-secondary-light};
  --bg-switch: #{$bg-switch-light};
  --border-switch: #{$border-switch-light};
  --shadow-switch: #{$shadow-switch-light};
  --bg-navbar: #{$bg-navbar-light};

  --item-active-nav: #{$item-active-nav-light};

  --box-shadow-navbar: #{$box-shadow-navbar-light};
  --bg-footer: #{$bg-footer-light};
  --bg-button-scroll-top: #{$bg-button-scroll-top-light};
  --bg-button-scroll-top-hover: #{$bg-button-scroll-top-light-hover};

  --bg-sections: #{$bg-sections-light};
  --bg-image-start: #{$bg-image-start-light};
  --bg-translucent: #{$bg-translucent-light};

  --color-icon-switch: #{$color-icon-switch-light};

  --bg-icon-social: #{$bg-icon-social-light};
  --color-icon-social: #{$color-icon-social-light};

  --bg-icon-skill: #{$bg-icon-skill-light};
  --filter-skill: #{$filter-skill-light};

  --bg-select: #{$bg-select-light};
  --bg-select-option: #{$bg-select-option-light};
  --border-select: #{$border-select-light};
  --color-select: #{$color-select-light};

  --box-shadow: #{$box-shadow-light};

  // form

  --text-placeholder-form-input: #{$text-placeholder-form-input-light};
  
  --border-form-input: #{$border-form-input-light};
  
  --border-form-input-focus: #{$border-form-input-light-focus};
  
  --border-form-submit: #{$border-form-submit-light};
  
  --border-form-submit-hover: #{$border-form-submit-light-hover};

  --bg-form-submit: #{$bg-form-submit-light};

  --bg-form-submit-hover: #{$bg-form-submit-light-hover};

  --text-form-submit: #{$text-form-submit-light};

 // end form //
}

// Tema oscuro 🌚
[data-bs-theme='dark'] {
  --bg-theme: #{$bg-theme-dark};
  --primary: #{$primary};
  --secondary: #{$secondary};
  
  --titles: #{$titles-dark};

  --text-primary: #{$text-primary-dark};
  --text-secondary: #{$text-secondary-dark};
  --bg-switch: #{$bg-switch-dark};
  --border-switch: #{$border-switch-dark};
  --shadow-switch: #{$shadow-switch-dark};
  --bg-navbar: #{$bg-navbar-dark};

  --item-active-nav: #{$item-active-nav-dark};

  --box-shadow-navbar: #{$box-shadow-navbar-dark};
  --bg-footer: #{$bg-footer-dark};
  --bg-button-scroll-top: #{$bg-button-scroll-top-dark};
  --bg-button-scroll-top-hover: #{$bg-button-scroll-top-dark-hover};

  --bg-sections: #{$bg-sections-dark};
  --bg-image-start: #{$bg-image-start-dark};
  --bg-translucent: #{$bg-translucent-dark};

  --color-icon-switch: #{$color-icon-switch-dark};

  --bg-icon-social: #{$bg-icon-social-dark};
  --color-icon-social: #{$color-icon-social-dark};

  --bg-icon-skill: #{$bg-icon-skill-dark};
  --filter-skill: #{$filter-skill-dark};

  --bg-select: #{$bg-select-dark};
  --bg-select-option: #{$bg-select-option-dark};
  --border-select: #{$border-select-dark};
  --color-select: #{$color-select-dark};

  --box-shadow: #{$box-shadow-dark};

  // form

  --text-placeholder-form-input: #{$text-placeholder-form-input-dark};

  --border-form-input: #{$border-form-input-dark};

  --border-form-input-focus: #{$border-form-input-dark-focus};

  --bg-form-submit: #{$bg-form-submit-dark};

  --bg-form-submit-hover: #{$bg-form-submit-dark-hover};
  
  --border-form-submit: #{$border-form-submit-dark};

  --border-form-submit-hover: #{$border-form-submit-dark-hover};

  --text-form-submit: #{$text-form-submit-dark};

// end form
}
