// Colores de Bootstrap
$primary: #6237A0;
$secondary: #c33c54;
$info: #424767;
$success: #3b8754;
$warning: #fec134;
$danger: #dc4146;
$light: #edf0f7;
$dark: #04040e;

// Definición de colores en diferentes temas 🌝🌚 

// ---- Colores a nivel global

$bg-theme-light: linear-gradient(to bottom, #2645AA, #5657CC);
$bg-theme-dark: #0b0f19;

$text-primary-light: #6237A0;
$text-primary-dark: #edf0f7;

$text-secondary-dark: #a9aaae;
$text-secondary-light: #424767;

// Barra de Navegación (NavBar)
$bg-navbar-light: #2645AA;
$bg-navbar-dark: #04040e;

// ---- 🌝 Switch 🌚
$bg-switch-light: #116dfa; 
$bg-switch-dark: #090913; 
$shadow-switch-light: rgba(
  13,
  110,
  253,
  0.25
); 
$shadow-switch-dark: rgba(
  9,
  9,
  13,
  0.25
); 

$border-switch-light: #116dfa; 
$border-switch-dark: #090913; 

// ---- Botón "Ir arriba"
$bg-button-scroll-top-light: #c33d54; 
$bg-button-scroll-top-light-hover: #000080;  
$bg-button-scroll-top-dark: #c33d54;
$bg-button-scroll-top-dark-hover: #090913; 

// ---- Pie de página
$bg-footer-light: #6237A0; 
$bg-footer-dark: #04040e; 

// Filtro para fondo traslucido
$bg-translucent-light: linear-gradient(to bottom, #000, #fff);

$bg-translucent-dark: #0b0f19;

// Tema claro 🌝
:root,
[data-bs-theme='light'] {
  --bg-theme: #{$bg-theme-light};
  --primary: #{$primary};
  --secondary: #{$secondary};
  --text-primary: #{$text-primary-light};
  --text-secondary: #{$text-secondary-light};
  --bg-switch: #{$bg-switch-light};
  --border-switch: #{$border-switch-light};
  --shadow-switch: #{$shadow-switch-light};
  --bg-navbar: #{$bg-navbar-light};
  --bg-footer: #{$bg-footer-light};
  --bg-button-scroll-top: #{$bg-button-scroll-top-light};
  --bg-button-scroll-top-hover: #{$bg-button-scroll-top-light-hover};
  --bg-translucent: #{$bg-translucent-light};
}

// Tema oscuro 🌚
[data-bs-theme='dark'] {
  --bg-theme: #{$bg-theme-dark};
  --primary: #{$primary};
  --secondary: #{$secondary};
  --text-primary: #{$text-primary-dark};
  --text-secondary: #{$text-secondary-dark};
  --bg-switch: #{$bg-switch-dark};
  --border-switch: #{$border-switch-dark};
  --shadow-switch: #{$shadow-switch-dark};
  --bg-navbar: #{$bg-navbar-dark};
  --bg-footer: #{$bg-footer-dark};
  --bg-button-scroll-top: #{$bg-button-scroll-top-dark};
  --bg-button-scroll-top-hover: #{$bg-button-scroll-top-dark-hover};
  --bg-translucent: #{$bg-translucent-dark};
}
