// Colores de Bootstrap
$primary: #6237A0;
$secondary: #c33c54;
$info: #424767;
$success: #3b8754;
$warning: #fec134;
$danger: #dc4146;
$light: #edf0f7;
$dark: #04040e;

// Definición de colores en diferentes temas 🌝🌚 

// ---- Colores a nivel global

// $bg-theme-light: #ffffff; 
$bg-theme-light: linear-gradient(to right bottom, #0E2667, #E26FE3);
$bg-theme-dark: #10141E;

// $text-primary-light: #424767;
$text-primary-light: #edf0f7;
$text-primary-dark: #edf0f7;

// $text-secondary-light: #424767;
$text-secondary-light: #DEE2E6;
$text-secondary-dark: #DEE2E6;

// Barra de Navegación (NavBar)
$bg-navbar-light: linear-gradient(to right, #383A7E, #9156B2);
$bg-navbar-dark: #090D16;// #04040e;

// ---- 🌝 Switch 🌚
$bg-switch-light: #116dfa; 
$bg-switch-dark: #090913; 
$shadow-switch-light: rgba(
  13,
  110,
  253,
  0.25
); 
$shadow-switch-dark: rgba(
  9,
  9,
  13,
  0.25
); 

$border-switch-light: #116dfa; 
$border-switch-dark: #090913; 

// ---- Botón "Ir arriba"
$bg-button-scroll-top-light: #ffffff2d; 
$bg-button-scroll-top-light-hover: #090D16;  

$bg-button-scroll-top-dark: #151822;
$bg-button-scroll-top-dark-hover: #3E4EB3; 

// ---- Pie de página
$bg-footer-light: #6237A0; 
$bg-footer-dark: #04040e; 

// Icons socials
$bg-icon-social-light: #42476730;
$bg-icon-social-dark: #151822;

// $color-icon-social-light: #424767;
$color-icon-social-light: #e6e7ed;
$color-icon-social-dark: #e6e7ed;

// Icons select
$bg-select-light: #ffffff3d;
$bg-select-dark: #151822;

$bg-select-option-light: #9575B8;
$bg-select-option-dark: #151822; 

$border-select-light: #ffffff3d;
$border-select-dark: #495057;

$color-select-light: #e6e7ed;
$color-select-dark: #e6e7ed;

// Tema claro 🌝
:root,
[data-bs-theme='light'] {
  --bg-theme: #{$bg-theme-light};
  --primary: #{$primary};
  --secondary: #{$secondary};
  --text-primary: #{$text-primary-light};
  --text-secondary: #{$text-secondary-light};
  --bg-switch: #{$bg-switch-light};
  --border-switch: #{$border-switch-light};
  --shadow-switch: #{$shadow-switch-light};
  --bg-navbar: #{$bg-navbar-light};
  --bg-footer: #{$bg-footer-light};
  --bg-button-scroll-top: #{$bg-button-scroll-top-light};
  --bg-button-scroll-top-hover: #{$bg-button-scroll-top-light-hover};

  --bg-icon-social: #{$bg-icon-social-light};
  --color-icon-social: #{$color-icon-social-light};

  --bg-select: #{$bg-select-light};
  --bg-select-option: #{$bg-select-option-light};
  --border-select: #{$border-select-light};
  --color-select: #{$color-select-light};
}

// Tema oscuro 🌚
[data-bs-theme='dark'] {
  --bg-theme: #{$bg-theme-dark};
  --primary: #{$primary};
  --secondary: #{$secondary};
  --text-primary: #{$text-primary-dark};
  --text-secondary: #{$text-secondary-dark};
  --bg-switch: #{$bg-switch-dark};
  --border-switch: #{$border-switch-dark};
  --shadow-switch: #{$shadow-switch-dark};
  --bg-navbar: #{$bg-navbar-dark};
  --bg-footer: #{$bg-footer-dark};
  --bg-button-scroll-top: #{$bg-button-scroll-top-dark};
  --bg-button-scroll-top-hover: #{$bg-button-scroll-top-dark-hover};

  --bg-icon-social: #{$bg-icon-social-dark};
  --color-icon-social: #{$color-icon-social-dark};

  --bg-select: #{$bg-select-dark};
  --bg-select-option: #{$bg-select-option-dark};
  --border-select: #{$border-select-dark};
  --color-select: #{$color-select-dark};
}
