@import './_colors';

h1, h2, h3, h4, h5, h6, strong, label {
    color: var(--text-primary);
    font-weight: 500;
}

p, span, input, ul, li, a, b {
    color: var(--text-secondary);
    font-weight: 500;
}



















