@import './_colors';

h1 {
    color: var(--titles);
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1); 
}

h2, h3, h4, h5, h6, strong, label {
    font-weight: 500;
    color: var(--text-primary);
 }

p, input, textarea {
    color: var(--text-secondary);
    font-weight: 500;
}

span, input, ul, li, a, b {
    color: var(--text-primary);
    font-weight: 500;
}
















